/*CSS */
*{
    margin: 0px;
    box-sizing:border-box;
}

body {
    background-color:#F5F6FA ;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: capitalize;
    height: 50px;
}

#welcome{
    text-transform: capitalize;
    font-size: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:cornflowerblue;
    font-size: 2mm;
    color: #F5F6FA;
} 

.main{
    height: 100%;
    width: 100%;
    background-color: #F5F6FA;
    
}
.choosebody{
    padding-top: 25px;
    padding-left: 30%;
    text-transform: uppercase;
    font-weight: bold;
    
}
.ThreeCardBox {
    margin: 0px 27%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F5F6FA;
}
.Box1, .Box2, .Box3
{
    margin: 5% 0px;
    width: 150px;
    height: 150px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;
}
.Box1 img{
   content: url("../Asset/Pic4.png"); 
}
.Box1:hover {
    background-color: #EDFDF9;
    border-color: #0EC098;
    color: #0EC098;
}

.Box1:hover img {
    content: url("../Asset/Pic1.png");
}

.Box2 img {
    content: url("../Asset/Pic5.png");
}

.Box2:hover {
    background-color: #FFEEF0;
    border-color: #FD5160;
    color: #FD5160;
}

.Box2:hover img {
    content: url("../Asset/Pic2.png");
}
.Box3 img {
    content: url("../Asset/Pic7.png");
}

.Box3:hover {
    background-color: #E8DDFF;
    border-color: #7224FF;
    color: #7224FF;
}

.Box3:hover img {
    content: url("../Asset/Pic6.png");
}
.card1 {
    background-color: #EDFDF9;
    border-color: #0EC098;
    color: #0EC098;
}
.card2 {
    background-color: #FFEEF0;
    border-color: #FD5160;
    color: #FD5160;
}

.card3 {
    background-color: #E8DDFF;
    border-color: #7224FF;
    color: #7224FF;
}

.form{
    
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.from{
    
    text-transform: capitalize;
     margin-right: 20px; 
}
.to{
   
    text-transform:capitalize;
    margin-left: 20px;
}
#select1,#select2,input,result{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: bold; 
}

@media only screen and (max-width: 400px) {
    .form{
        flex-direction: column;
        align-items: center;
    }
    .from{
       margin-right: 0px;
       margin-bottom: 25px;
       margin-top: 10px;
    }
    .to{
        margin-left: 0px;
} 
   #welcome {
    text-transform: capitalize;
    font-size: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: cornflowerblue;
    font-size: 2mm;
    color: #F5F6FA;
    text-align: center;
   }
   .choosebody {
       padding-top: 25px;
       padding-left: 30%;
       text-transform: uppercase;
       font-weight: bold;
   }
   
   
}